* {
    margin: 0;
    padding: 0;
}

/* fuente principal para el body y background 
   Los tamaños X "em" se han puesto buscando el tamaño estandar de 1920 x 1080 de resolución
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Menu - Zona de navegación de html*/
nav {
    background-color: #031634;
    color: #f2f2f2;
    height: 4em; 
    text-align: right;
    width: 100%;
}

nav>ul{
    padding-top: 2em; /* Para dejar a la altura determinada el menu desplegable*/
    list-style-type: none; /* Elimina los puntos de la lista */
    margin-right: 100px; /*Empuja el menu hacia la izquierda para que no este pegado. Se puede poner con porcentaje*/
}

nav>ul li {
   /* display: inline;     Hace que los elementos se muestren en línea */
   /*  margin-right: 10px; Espacio entre elementos (ajustable) */  
   margin-right: 10px;
   position: relative;
   display: inline-block; /* Esten alineados las diferentes entradas de menu*/
   /* width: 110px; Distancia entre cada entrada de menu principal px o %*/
   height: 32px; /* Altura para que no se vea entre los menus y submenus nada blanco*/

}

nav>ul a{
    display: block;
    width: 100%;
    height: inherit;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: #f2f2f2;
}

nav>ul a:hover{
    color: #E8DDCB;
}

nav ul li:hover .submenu{
    display: block;
}

.submenu{
    position: absolute;
    display: none;
    width: 450%; /*  Para jugar con los tamaños de los menus : !!!! pondria fijo px*/
    background: #031634;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submenu ul li{
    display: block;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* End Menu - Zona de navegación de html*/

/* Tamaño de la parte central la pagina con una resolucion de 1920x1080 */
.principal-content{
    height: 60em;
}

/* pie de pagina */
footer {
    background-color: #031634;
    color: white;
    height: 3em; 
    padding-top: 20px;
    text-align: center;
}
/* End pie de pagina */


h1 {
    color: #000000;
    text-align: center;
}

/* End Menu */

p {
    text-align: justify;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
}

.foto{

}

.resumen{

}

/*Página tour*/
.foto-tour{}
.precio-tour{}
.tabla-tour{}
/*End Página tour*/

/*Página Detalle tour*/
.titulo-detalle-tour{}
.foto-detalle-tour{}
.resumen-detalle-tour{}
/*End Página Detalle tour*/